{% extends "layout.html" %}
{% block content %}
    <div class="container-sm">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-light">Share Device</legend>
                <div class="form-group">
                    {{ form.device.label(class="form-control-label text-light") }}
                    {% if form.device.errors %}
                        {{ form.device(class="form-control form-control-lg is-invalid mt-2") }}
                        <div class="invalid-feedback">
                            {% for error in form.device.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.device(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label text-light") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid mt-2") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label text-light") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid mt-2") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Share Device</button>
            </div>
        </form>
    </div>
{% endblock %}